<section id="crypto-info">
    <h3>Cryptocurrency Information</h3>
    <p id="crypto-price">Price: N/A</p>
    <p id="crypto-market-cap">Market Cap: N/A</p>
    <p id="crypto-change">Change: N/A</p>
</section>
