<section id="crypto-info">
  <h3>Cryptocurrency Information</h3>
  <p id="crypto-price">Name: N/A</p>
  <p id="crypto-market-cap">Rate: N/A</p>
  <p id="crypto-change">Time: N/A</p>
  <button id="add-to-watchlist" class="watchlist-btn">
    <span class="plus-sign">+</span> Add to Your Watchlist
  </button>
</section>
