
<section id="top-ten-popular">
            <h2>Top 10 Most Popular</h2>
            <ul>
                {{#each popularItems}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </section>

       <script src="../public/js/client.js"></script>
         