<div class="login-card">
  <div class="login-card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="login-card-body">
    <div>
      <label for="username-input-login" class="login-form-label">Username</label>
      <input type="text" id="username-input-login" class="login-input" />
    </div>
    <div>
      <label for="password-input-login" class="login-form-label">Password</label>
      <div class="password-container">
        <input type="password" id="password-input-login" class="login-input" />
        <button type="button" id="toggle-password" class="toggle-password-btn">Show</button>
      </div>
    </div>
    <button type="submit" id="login-btn" class="login-btn">Login!</button>
    <a href="/signup" class="signup-link">Sign up instead</a>
  </form>
</div>


<script src="/js/login.js"></script>
