body {
    transition: background-color 0.3s, color 0.3s;
}

.navbar-custom {
    background-color: #343a40;
    transition: background-color 0.3s;
}

.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #adb5bd;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #fff;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'/%3E%3C/svg%3E");
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    border-radius: 20px 0 0 20px;
}

.search-form button {
    border-radius: 0 20px 20px 0;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #eee;
}

.dark-mode .navbar-custom {
    background-color: #212529;
}

.dark-mode .navbar-custom .navbar-nav .nav-link {
    color: #dee2e6;
}

.dark-mode .navbar-custom .navbar-nav .nav-link:hover {
    color: #adb5bd;
}

.dark-mode .search-form button {
    border-color: #fff;
    color: #fff;
    background-color: #212529;
}

.dark-mode .search-form input {
    border-color: #fff;
    background-color: #495057;
    color: #fff;
}

/* Light mode styles */
.light-mode {
    background-color: #f4f4f4;
    color: #000;
}

.light-mode .navbar-custom {
    background-color: #343a40;
}

.light-mode .navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.light-mode .navbar-custom .navbar-nav .nav-link:hover {
    color: #adb5bd;
}

.light-mode .search-form button {
    border-color: #000;
    color: #000;
    background-color: #f4f4f4;
}

.light-mode .search-form input {
    border-color: #000;
    background-color: #fff;
    color: #000;
}

.theme-toggle {
    margin-left: 15px;
}

#crypto-info {
    display: none;
}